h1{
  font-size:2em;
  //color:red;
  text-align:center;
  padding:1em;
  border-bottom:.1em solid black;
}
h2{
  font-size:1.5em;
  line-height:1;
  text-align:center;
  padding:.2em 0;
  border-bottom:.1em solid black;
  margin:.3em 0;
}
h3{
	font-size:1em;
  line-height:1;
  text-align:center;
  padding:.2em 0;
  border-bottom:.1em solid black;
  margin:.3em 0;
}
body{
  width:70%;
  max-width:50em;
  margin:0 auto;
}
.slide{
  background:#ddd;
  &:nth-of-type(2n){background:#bbb;}
}
.selector.current{
  background:black;
  color:white;
}