/*! Compiled SCSS: DO NOT CHANGE!!! Any CSS changes must be made to .scss files, otherwise this super-optimised website will break! */
.touche-de-rouge {
  color: #ff0000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 1em;
  border-bottom: .1em solid black;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  padding: .2em 0;
  border-bottom: .1em solid black;
  margin: .3em 0;
}

h3 {
  font-size: 1em;
  line-height: 1;
  text-align: center;
  padding: .2em 0;
  border-bottom: .1em solid black;
  margin: .3em 0;
}

body {
  width: 70%;
  max-width: 50em;
  margin: 0 auto;
}

.slide {
  background: #ddd;
}
.slide:nth-of-type(2n) {
  background: #bbb;
}

.selector.current {
  background: black;
  color: white;
}

.sliderOuter {
  height: 20em;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.sliderInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.sliderInner .slide {
  height: 100%;
}

.slideWrapperTotal.slideOver .sliderInner {
  -webkit-transition: left;
  transition: left;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber1 {
  left: 0;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber2 {
  left: -100%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber3 {
  left: -200%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber4 {
  left: -300%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber5 {
  left: -400%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber6 {
  left: -500%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber7 {
  left: -600%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber8 {
  left: -700%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber9 {
  left: -800%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber10 {
  left: -900%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber11 {
  left: -1000%;
}
.slideWrapperTotal.slideOver .sliderInner.positionNumber12 {
  left: -1100%;
}
.slideWrapperTotal.slideOver .sliderInner .slide {
  float: left;
}

.slideWrapperTotal.fadeIn .sliderInner {
  width: 100%;
}
.slideWrapperTotal.fadeIn .sliderInner .slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.slideWrapperTotal.fadeIn .sliderInner .slide.current {
  z-index: 100;
  opacity: 1;
}
