/*! Compiled SCSS: DO NOT CHANGE!!! Any CSS changes must be made to .scss files, otherwise this super-optimised website will break! */
.touche-de-rouge {
  color: #ff0000;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
  background: #666666;
  color: white;
}

h1, h2, h3, h4, h5 {
  font-style: italic;
  font-weight: 800;
}

button {
  appearance: none;
  background: #666666;
  color: white;
  border: 0;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  padding: 1em;
  margin: .5em;
  display: block;
  width: auto;
  outline: none;
  cursor: pointer;
  -webkit-transition: background, color;
  transition: background, color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  float: left;
}
button:hover {
  background: red;
}
button.current {
  background: #333333;
}

.sliderOne {
  position: relative;
  margin: 6em 0;
}
.sliderOne .slide {
  padding: 3em 0;
  text-align: center;
  overflow: hidden;
}
.sliderOne .slide h2 {
  font-size: 3em;
}
.sliderOne .slide.number1 {
  background: red;
}
.sliderOne .slide.number2 {
  background: green;
}
.sliderOne .slide.number3 {
  background: yellow;
}
.sliderOne .slide.number4 {
  background: teal;
}
.sliderOne .slide.number5 {
  background: orange;
}
.sliderOne .slide.number6 {
  background: blue;
}
.sliderOne .selectors {
  position: absolute;
  bottom: 1em;
  z-index: 2000;
  width: 204 px;
  padding: 0;
  margin: 0;
  left: 50%;
  margin-left: -6.5em;
}
.sliderOne .selectors .selector {
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 6px;
  background: none;
  border: 0.2em solid white;
  border-radius: 50%;
}
.sliderOne .selectors .selector:hover {
  background: white;
}
.sliderOne .selectors .selector.current {
  background: white;
  cursor: default;
}
.sliderOne .nextPrev {
  font-size: 1.4em;
  font-style: normal;
  font-weight: 400;
  position: absolute;
  text-align: center;
  top: 50%;
  padding: 1em;
  margin: 0;
  margin-top: -1em;
  line-height: 1;
  z-index: 2000;
  background: rgba(51, 51, 51, 0.6);
}
.sliderOne .nextPrev:hover {
  background: #333333;
}
.sliderOne .nextPrev.prev {
  left: 0;
  border-radius: 0 1em 1em 0;
}
.sliderOne .nextPrev.next {
  right: 0;
  border-radius: 1em 0 0 1em;
}

h1 {
  font-size: 2em;
  text-align: center;
  padding: 1em 0 .2em 0;
}

h2 {
  font-size: 1.5em;
  line-height: 1;
  text-align: center;
  padding: .2em 0;
  margin: .3em 0;
}

h3 {
  font-size: 1em;
  line-height: 1;
  text-align: center;
  padding: .2em 0;
  margin: .3em 0;
}

.slide {
  background: #ddd;
}
.slide:nth-of-type(2n) {
  background: #bbb;
}

footer {
  margin-top: 4em;
  border-top: .1em solid black;
  padding: 1em 0;
}

.sliderOuter {
  height: 20em;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.sliderInner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.sliderInner .slide {
  height: 100%;
}

.slideOver .sliderInner {
  -webkit-transition: left;
  transition: left;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.slideOver .sliderInner.positionNumber1 {
  left: 0;
}
.slideOver .sliderInner.positionNumber2 {
  left: -100%;
}
.slideOver .sliderInner.positionNumber3 {
  left: -200%;
}
.slideOver .sliderInner.positionNumber4 {
  left: -300%;
}
.slideOver .sliderInner.positionNumber5 {
  left: -400%;
}
.slideOver .sliderInner.positionNumber6 {
  left: -500%;
}
.slideOver .sliderInner.positionNumber7 {
  left: -600%;
}
.slideOver .sliderInner.positionNumber8 {
  left: -700%;
}
.slideOver .sliderInner.positionNumber9 {
  left: -800%;
}
.slideOver .sliderInner.positionNumber10 {
  left: -900%;
}
.slideOver .sliderInner.positionNumber11 {
  left: -1000%;
}
.slideOver .sliderInner.positionNumber12 {
  left: -1100%;
}
.slideOver .sliderInner .slide {
  float: left;
}

.fadeIn .sliderInner {
  width: 100%;
}
.fadeIn .sliderInner .slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  -webkit-transition: opacity;
  transition: opacity;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}
.fadeIn .sliderInner .slide.current {
  z-index: 100;
  opacity: 1;
}
